{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <p>This is the home page. It is now exciting.</p>
    <h2><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstley">CLICK ME</a></h2>
    <p>I dare you.</p>
    <p>An image of you not clicking the link has been attached below for motivational purposes</p>
    <img src="https://img.freepik.com/free-vector/sticker-design-with-chicken-isolated_1308-58599.jpg?w=740&t=st=1700524029~exp=1700524629~hmac=ebf2e6d926031ef74889a19fb93c16cf31251e86368635dc4eee7f2a381f408c">
{% endblock %}